#BookContents {
    padding: 1rem;
    font-family: Arial, sans-serif;

    /* 추가하기 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-content__more-btn {
    appearance: none;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 1rem;
}

.card-content__more-btn::before {
    content: '더보기';
}

.card-content__more-btn:checked::before {
    content: '닫기';
}

#BookContents:has(+ .card-content__more-btn:checked) {
    -webkit-line-clamp: unset
}

#ProductData {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#ProductData th {
    border-right: 1px solid gray;
}

#ProductData tr {
    border-bottom: 1px solid gray;
}

#ProductData span {
    padding: 3%;
}