<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
>

<div layout:fragment="content"><!-- ==== fragment:content === -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <main id="main">
        <!-- Start Contact Area -->
        <section class="contact-us section" id="contact-us">
            <div class="container">
                <div class="contact-head">
                    <div class="row">
                        <div class="col-lg-12 text-center mb-5">
                            <div class="section-title">
                                <h2>리뷰 작성</h2>
                            </div>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="row" style='background-color: #ebebeb8e'>
                            <div class="col-lg-4 col-md-12 col-12">
                                <div class="single-info-head">
                                    <!-- Start Single Info -->
                                    <div class="my-3 single-info" style="background: white">
                                        <i class="lni lni-star"></i>
                                        <h3>리뷰 정책</h3>
                                        <ul>
                                            <li>리뷰 작성시 자동으로 구매가 확정되며 환불이 불가합니다.<br><br> 리뷰 : 200포인트 적립<br>리뷰 + 사진
                                                첨부 :
                                                500포인트 적립
                                                <br>별점을 선택해주세요.
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Single Info -->
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12 col-12">
                                <div class="contact-form-head">
                                    <div class="form-main">
                                        <form action="/review/register" class="form" enctype="multipart/form-data"
                                              method="post">

                                            <div class="col-lg-6 col-md-6 col-12">
                                                <!--                                                    별점-->
                                                <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
                                                      rel="stylesheet">
                                                <div class="rating">
                                                    <span class="rating__result"></span>
                                                    <input id="rate" name="rate" required type="hidden" value="5">
                                                    <!-- Hidden input field for rate -->
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="my-2 col-lg-6 col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input name="title" placeholder="제목" required="required"
                                                               type="text">
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group message">
                                                        <textarea name="content" placeholder="내용"
                                                                  required="required"></textarea>
                                                    </div>
                                                </div>

                                                <div class="my-3 col-12 file-container">
                                                    <input accept="image/*" class="file" id="contentImage"
                                                           name="contentImage"
                                                           type="file">
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group button">
                                                        <!--                                                        <input name="orderDetailId" th:value="${orderDetailId}"-->
                                                        <!--                                                               type="hidden">-->
                                                        <!--                                                        <input name="orderId" th:value="${orderId}" type="hidden">-->
                                                        <button class="btn btn-primary btn-block"
                                                                style="background: black; color: white;"
                                                                type="submit">등록
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Breadcrumbs -->
        <script>
            const ratingStars = [...document.getElementsByClassName("rating__star")];
            const ratingResult = document.querySelector(".rating__result");

            printRatingResult(ratingResult);

            function executeRating(stars, result) {
                const starClassActive = "rating__star fas fa-star";
                const starClassUnactive = "rating__star far fa-star";
                const starsLength = stars.length;
                let i = 1; // i를 1로 초기화

                stars.map((star) => {
                    star.onclick = () => {
                        i = stars.indexOf(star) + 1;

                        // Set the rate value to the selected number of stars
                        document.getElementById('rate').value = i;

                        if (star.className.indexOf(starClassUnactive) !== -1) {
                            printRatingResult(result, i);
                            for (let j = 0; j < i; ++j) stars[j].className = starClassActive;
                        } else {
                            printRatingResult(result, i - 1);
                            for (let j = i - 1; j < starsLength; ++j) stars[j].className = starClassUnactive;
                        }
                    };
                });
            }

            function printRatingResult(result, num = 1) {
                result.textContent = `${num}/5`;
            }

            executeRating(ratingStars, ratingResult);

            // Disable form submission if rating is 0
            document.getElementById('reviewForm').addEventListener('submit', function (event) {
                const ratingValue = document.getElementById('rate').value;
                if (ratingValue === '0') {
                    event.preventDefault(); // Prevent form submission
                    alert('별점을 선택하세요.');
                }
            });
        </script>

    </main><!-- End #main -->
    <link href="/static/assets/css/review_form.css" rel="stylesheet">
</div><!-- ==== End fragment:content === -->
</html>