<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/static/assets/css/checkout.css}"/>
    <script src="https://js.tosspayments.com/v1"></script>
</th:block>

<div layout:fragment="content">
    <div class="container py-3">
        <main id="main">
            <h3>비회원 주문/결제</h3>
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                    <h4 class="mb-3">구매자 정보</h4>
                    <form class="needs-validation" id="payment-form" novalidate>
                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label" for="buyer_name">이름</label>
                                <input class="form-control" id="buyer_name" name="buyerName" placeholder="" required=""
                                       type="text"
                                       value="테스트">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="buyer_phone">전화번호</label>
                                <input class="form-control" id="buyer_phone" name="buyerPhone"
                                       placeholder="휴대폰 번호를 ‘-’없이 입력해주세요"
                                       required="" type="text"
                                       value="01011112222">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="buyer_email">Email</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input class="form-control" id="buyer_email" name="buyerEmail"
                                           placeholder="you@example.com"
                                           type="email" value="d@d.com">
                                    <div class="invalid-feedback">
                                        필수 입력 값입니다.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="buyer_password">주문 조회 비밀번호 입력</label>
                                <input class="form-control" id="buyer_password" name="buyerPassword" placeholder=""
                                       required=""
                                       type="password"
                                       value="1234">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4 class="mb-3">받는 사람 정보</h4>

                        <div class="col-12">
                            <button class="btn btn-primary" id="sameAsBuyer" type="button">구매자와 동일</button>
                        </div>

                        <div class="row g-3">
                            <div class="col-12">
                                <label class="form-label" for="recipient_name">이름</label>
                                <input class="form-control" id="recipient_name" name="recipientName" placeholder=""
                                       required="" type="text" value="테스트">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="recipient_phone">전화번호</label>
                                <input class="form-control" id="recipient_phone" name="recipientPhone"
                                       placeholder="휴대폰 번호를 ‘-’없이 입력해주세요"
                                       required="" type="text" value="01011112222">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>

                            <input class="btn btn-primary" onclick="recipient_execDaumPostcode()" type="button"
                                   value="우편번호 찾기"><br>

                            <div class="col-9">
                                <label class="form-label" for="recipient_address">주소</label>
                                <input class="form-control" id="recipient_address" name="recipientAddress"
                                       onclick="recipient_execDaumPostcode()" placeholder="" required="" type="text"
                                       value="주소">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label class="form-label" for="recipient_postcode">우편번호</label>
                                <input class="form-control" id="recipient_postcode" name="recipientPostcode"
                                       onclick="recipient_execDaumPostcode()" placeholder="" required="" type="text"
                                       value="12345">
                                <div class="invalid-feedback">
                                    필수 입력 값입니다.
                                </div>
                            </div>

                            <div class="col-12">
                                <label class="form-label" for="recipient_detailAddress">상세주소<span
                                        class="text-body-secondary">(Optional)</span></label>
                                <input class="form-control" id="recipient_detailAddress" name="recipientDetailAddress"
                                       placeholder="" type="text">
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4>배송일 선택</h4>

                        <p class="text-muted">도착 예상일</p>
                        <div>
                            <input autocomplete="off" checked class="btn-check" id="option1" name="orderTransitAt"
                                   th:data-date="${#temporals.format(#temporals.createNow().plusDays(1), 'yyyy-MM-dd')}"
                                   type="radio">
                            <label class="btn btn-outline-primary" for="option1"
                                   th:text="${#temporals.format(#temporals.createNow().plusDays(1), '내일 (M/d)')}">Checked</label>

                            <input autocomplete="off" class="btn-check" id="option2" name="orderTransitAt"
                                   th:data-date="${#temporals.format(#temporals.createNow().plusDays(2), 'yyyy-MM-dd')}"
                                   type="radio">
                            <label class="btn btn-outline-primary" for="option2"
                                   th:text="${#temporals.format(#temporals.createNow().plusDays(2), 'E (M/d)')}">Radio</label>

                            <input autocomplete="off" class="btn-check" id="option3" name="orderTransitAt"
                                   th:data-date="${#temporals.format(#temporals.createNow().plusDays(3), 'yyyy-MM-dd')}"
                                   type="radio">
                            <label class="btn btn-outline-primary" for="option3"
                                   th:text="${#temporals.format(#temporals.createNow().plusDays(3), 'E (M/d)')}">Radio</label>

                            <input autocomplete="off" class="btn-check" id="option4" name="orderTransitAt"
                                   th:data-date="${#temporals.format(#temporals.createNow().plusDays(4), 'yyyy-MM-dd')}"
                                   type="radio">
                            <label class="btn btn-outline-primary" for="option4"
                                   th:text="${#temporals.format(#temporals.createNow().plusDays(4), 'E (M/d)')}">Radio</label>

                            <input autocomplete="off" class="btn-check" id="option5" name="orderTransitAt"
                                   th:data-date="${#temporals.format(#temporals.createNow().plusDays(5), 'yyyy-MM-dd')}"
                                   type="radio">
                            <label class="btn btn-outline-primary" for="option5"
                                   th:text="${#temporals.format(#temporals.createNow().plusDays(5), 'E (M/d)')}">Radio</label>

                            <input autocomplete="off" class="btn-check" id="option6" name="orderTransitAt"
                                   th:data-date="${#temporals.format(#temporals.createNow().plusDays(6), 'yyyy-MM-dd')}"
                                   type="radio">
                            <label class="btn btn-outline-primary" for="option6"
                                   th:text="${#temporals.format(#temporals.createNow().plusDays(6), 'E (M/d)')}">Radio</label>
                        </div>

                        <hr class="my-4">

                        <h4 class="mb-3">주문 상품</h4>

                        <div class="row d-flex align-items-center order-book"
                             th:each="orderBook, status: ${orderBookList}">
                            <div class="order-book-id" hidden="hidden" th:text="${orderBook.bookId}"></div>
                            <div class="col-md-2">
                                <img alt="Book Thumbnail" class="img-thumbnail"
                                     th:src="${orderBook.bookThumbnailUrl}">
                            </div>
                            <div class="col-md order-book-title">
                                <p th:text="${orderBook.bookTitle}"/>
                            </div>
                            <div class="col-md-1 order-book-quantity">
                                <p th:text="${orderBook.quantity}"/>
                            </div>
                            <div class="col-md-2 order-book-price">
                                <p th:text="${orderBook.bookSalePrice * orderBook.quantity}"/>
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4 class="mb-3">결제 정보</h4>

                        <div class="row mb-3">
                            <div class="col-6">
                                <p>총 상품 가격</p>
                            </div>
                            <div class="col-6 text-end">
                                <p id="totalProductPrice" th:text="${totalProductPrice} + 원"></p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <p>배송비</p>
                            </div>
                            <div class="col-6 text-end">
                                <p id="shippingFee" th:text="${shippingFee} + 원"></p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <p>쿠폰</p>
                            </div>
                            <div class="col-6 text-end">
                                <p id="coupon">회원만 사용 가능합니다.</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <p>포인트</p>
                            </div>
                            <div class="col-6 text-end">
                                <p id="point">회원만 사용 가능합니다.</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <p>총 결제 금액</p>
                            </div>
                            <div class="col-6 text-end">
                                <p id="totalCost" th:text="${totalCost} + 원">0원</p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <!-- 결제 UI -->
                                <div id="payment-method"></div>
                                <!-- 이용약관 UI -->
                                <div id="agreement"></div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" id="payment-button" type="submit">결제하기</button>
                    </form>
                </div>
            </div>

            <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
            <div id="layer"
                 style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                <img alt="닫기 버튼" id="btnCloseLayer"
                     onclick="pay('카드',jsons.card);"
                     src="//t1.daumcdn.net/postcode/resource/images/close.png"
                     style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1">
            </div>
        </main>
    </div>
</div>


<th:block layout:fragment="script">
    <script src="/static/assets/js/checkout.js" type="text/javascript"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/static/assets/js/order_main_address.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let totalProductPrice = /*[[${totalProductPrice}]]*/ 0;
        let shippingFee = /*[[${shippingFee}]]*/ 0;
        let totalCost = /*[[${totalCost}]]*/ 0;
        let usePoint = 0;
        let couponDiscount = 0;
        let amount = totalCost - usePoint - couponDiscount;

        let path = "/";
        let successUrl = window.location.origin + path + "success";
        let failUrl = window.location.origin + path + "fail";
        let sampleOrderId = "sample-" + new Date().getTime();
        let orderId = /*[[${orderId}]]*/ sampleOrderId;

        let gatewayUrl = /*[[${gatewayUrl}]]*/ "http://localhost:8760";

        let tossPayments = TossPayments("test_ck_ALnQvDd2VJdOYqKbPLYv8Mj7X41m");

        function pay(method, requestJson) {
            requestJson.customerName = document.getElementById('buyer_name').value;
            requestJson.customerEmail = document.getElementById('buyer_email').value;
            requestJson.customerMobilePhone = document.getElementById('buyer_phone').value;

            console.log(requestJson);
            tossPayments.requestPayment(method, requestJson).catch(function (error) {
                if (error.code === "USER_CANCEL") {
                    alert("유저가 취소했습니다.");
                } else {
                    alert(error.message);
                }

                fetch(gatewayUrl + '/open/bookstore/v1/orders/' + orderId, {
                    method: 'DELETE'
                }).catch((error) => {
                    console.error('Error:', error);
                });
            });
        }

        let jsons = {
            card: {
                amount: amount,
                orderId: orderId,
                orderName: /*[[${orderName}]]*/ "책 주문",
                successUrl: successUrl,
                failUrl: failUrl,
                cardCompany: null,
                cardInstallmentPlan: null,
                maxCardInstallmentPlan: null,
                useCardPoint: false,
                customerName: document.getElementById('buyer_name').value,
                customerEmail: document.getElementById('buyer_email').value,
                customerMobilePhone: document.getElementById('buyer_phone').value,
                taxFreeAmount: null,
                useInternationalCardOnly: false,
                flowMode: "DEFAULT",
                discountCode: null,
                appScheme: null,
            },
        };

        function createInitiatePaymentRequest() {
            return {
                consumer: {
                    consumerName: document.getElementById('buyer_name').value,
                    consumerEmail: document.getElementById('buyer_email').value,
                    consumerPhone: document.getElementById('buyer_phone').value,
                    consumerPassword: document.getElementById('buyer_password').value
                },
                order: {
                    orderId: orderId,
                    orderName: /*[[${orderName}]]*/ "책 주문",
                    orderType: 'NON_USER',
                    orderTransitAt: document.querySelector('input[name="orderTransitAt"]:checked').dataset.date,
                    orderReceiverName: document.getElementById('recipient_name').value,
                    orderReceiverNumber: document.getElementById('recipient_phone').value,
                    orderAddress: document.getElementById('recipient_address').value,
                    orderAddressDetail: document.getElementById('recipient_detailAddress').value,
                    orderAddressCode: parseInt(document.getElementById('recipient_postcode').value),
                    orderDeliveryCost: shippingFee,
                    orderTotalCost: amount,
                    orderFinalCost: amount,
                },
                orderBooks: Array.from(document.querySelectorAll('.order-book')).map(row => {
                    let orderBookId = row.querySelector('.order-book-id').innerText;
                    let orderBookTitle = row.querySelector('.order-book-title').innerText;
                    let orderBookPrice = parseInt(row.querySelector('.order-book-price').innerText.replace(/[^0-9]/g, ''));
                    let orderBookQuantity = parseInt(row.querySelector('.order-book-quantity').innerText.replace(/[^0-9]/g, ''));

                    return {
                        orderBookTitle: orderBookTitle,
                        orderBookPrice: orderBookPrice,
                        orderBookQuantity: orderBookQuantity,
                        bookId: orderBookId
                    };
                })
            };
        }

        document.getElementById('payment-form').addEventListener('submit', function (event) {
            event.preventDefault();
            if (this.checkValidity()) {
                let request = createInitiatePaymentRequest();
                console.log("request: ", request);

                fetch(gatewayUrl + '/open/bookstore/v1/orders', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(request)
                }).then(response => {
                    if (response.ok) {  // Check if the request was successful
                        pay('카드', jsons.card);
                    } else {
                        console.error('Payment initiation failed:', response.statusText);
                    }
                }).catch((error) => {
                    console.error('Error:', error);
                });
            } else {
                event.stopPropagation();
            }
        }, false);
        /*]]>*/
    </script>
</th:block>

</html>