<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{admin/layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<section layout:fragment="content">
    <div class="container">
        <h1>Tag Administration</h1>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>Tag Id</th>
                <th>Tag Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag : ${tags}">
                <td class="align-middle" th:text="${tag.id}"></td>
                <form th:action="@{/admin/tags/{id}(id=${tag.id})}" th:method="put">
                    <td>
                        <input type="hidden" th:name="id" th:value="${tag.id}"/>
                        <input type="text" th:name="tagName" th:value="${tag.tagName}" class="form-control"
                               required/>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-info">Update</button>
                    </td>
                </form>
                <td>
                    <form th:action="@{/admin/tags/{id}(id=${tag.id})}" th:method="delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${message}" th:text="${message}"></div>

        <form id="createTagForm" th:action="@{/admin/tags}" method="post">
            <div class="row g-3 mt-4">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="newTagName" aria-label="Tag name"
                           name="tagName">
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-outline-primary">Create</button>
                </div>
            </div>
        </form>

    </div>
</section>

</html>
