<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{admin/layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<section layout:fragment="content">
    <div class="container">
        <h1>Tag Administration</h1>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>Tag Id</th>
                <th>Tag Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag : ${tags}">
                <td class="align-middle" th:text="${tag.id}"></td>
                <form th:action="@{/admin/tags/{id}(id=${tag.id})}" th:method="put">
                    <td>
                        <input th:name="id" th:value="${tag.id}" type="hidden"/>
                        <input class="form-control" required th:name="tagName" th:value="${tag.tagName}"
                               type="text"/>
                    </td>
                    <td>
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </td>
                </form>
                <td>
                    <form th:action="@{/admin/tags/{id}(id=${tag.id})}" th:method="delete">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${message}" th:text="${message}"></div>

        <form id="createTagForm" method="post" th:action="@{/admin/tags}">
            <div class="row g-3 mt-4">
                <div class="col-6">
                    <input aria-label="Tag name" class="form-control" name="tagName" placeholder="newTagName"
                           type="text">
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-outline-primary" type="submit">Create</button>
                </div>
            </div>
        </form>

    </div>
</section>

</html>
