<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content"><!-- ==== fragment:content === -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <main id="main">
        <section class="contact mb-5" id="contact">
            <<h1>My Liked Books</h1>
            <div class="d-flex gap-2 justify-content-center">
                <nav aria-label="Page navigation example"
                     th:with="link = ${#request.getRequestURI()}, items = ${likeList},
                             pageRange = 10,startPage=${(items.number / pageRange) * pageRange},
                             endPage=(${
                                startPage + pageRange <= items.totalPages ?
                                startPage + pageRange - 1 : items.totalPages - 1
                             })
                        ">
                    <ul class="pagination">
                        <li class="page-item" th:classappend="${startPage <= 1} ? 'disabled'">
                            <a aria-label="Previous" class="page-link"
                               th:href="@{${link}(page=${startPage - 1},
                                        size=${#request.getParameter('size')})}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${pageNumber eq items.number} ? 'active'"
                            th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link"
                               th:href="@{${link}(page=${pageNumber}, size=${#request.getParameter('size')})}"
                               th:text="${pageNumber+1}">
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${endPage >= items.totalPages - 1} ? 'disabled'">
                            <a aria-label="Next" class="page-link"
                               th:href="@{${link}(page=${endPage + 1}, size=${#request.getParameter('size')})}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!--book list-->
            <div th:each="bookInfo, status : ${likeList.content}">
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-3">
                        <img alt="Book Thumbnail" class="img-thumbnail"
                             style="width: 200px; height: 260px;" th:src="${bookInfo.bookThumbnailUrl}">
                    </div>
                    <div class="col-md-7">
                        <h5>
                            <a th:href="@{/books/{bookId}(bookId= ${likeList.bookId})}"
                               th:text="${bookInfo.bookTitle}"> </a>
                        </h5>
                        <small>
                            <th:block th:each="authorDTO : ${bookInfo.authorsDTOList}">
                                <span th:text="${authorDTO.authorName}"></span>
                                <span th:if="${#strings.equals(authorDTO.authorType,'AUTHOR')}"
                                      th:text="|(지은이)|"></span>
                                <span th:if="${#strings.equals(authorDTO.authorType,'PAINTER')}"
                                      th:text="|(그림)|"></span>
                                <span th:if="${#strings.equals(authorDTO.authorType,'TRANSLATOR')}"
                                      th:text="|(옮긴이)|"></span>
                                <span th:if="${#strings.equals(authorDTO.authorType,'SUPERVISION')}"
                                      th:text="|(감수)|"></span>
                                <span th:if="${#strings.equals(authorDTO.authorType,'ETC')}"
                                      th:text="|(기타)|"></span>
                            </th:block>
                        </small>
                        <p><s th:text="|${bookInfo.bookPrice}원|"></s> → <span
                                style="font-weight: bold; color: red;"
                                th:text="|${bookInfo.bookSalePrice}원|"></span>
                        </p>
                    </div>
                </div>
            </div>

        </section>
    </main>

</div><!-- ==== End fragment:content === -->
</html>