<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{layouts/layout}"
        xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>

<div layout:fragment="content">

    <title>Store99st</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="/static/assets/css/variables.css" rel="stylesheet">
    <link href="/static/assets/css/main.css" rel="stylesheet">

    </head>

    <body>

    <main id="main" th:object="${bookData}">
        <div>
            <image th:src="*{BookImageURL}"></image>
            <h1>제목</h1>
            <h3><span th:text="*{bookTitle}"></span></h3>
            <h1>출판사</h1>
            <h3><span th:text="*{bookPublisher}"></span></h3>
            <h5>리뷰</h5>
            <h6><span th:text="*{bookCntOfReview}"></span></h6>
            <h6 th:text="*{bookAvgOfRate}"></h6>
        </div>
        <div>
            <!--  만약 h에 직접 th:text로 값을 넣을수있다면, 사용할것.-->
            <h1>가격</h1>
            <h3 th:text="*{bookPrice}"></h3>
            <h1>할인가</h1>
            <h3><span th:text="*{bookSalePrice}"></span></h3>
        </div>
        <form action="/carts" method="post">
            <input disabled name="bookId" th:value="*{bookId}" type="number">
            <button type="submit">장바구니에 추가</button>
        </form>
        <hr>
        <div>
            <h2>품목정보</h2>
            <table>
                <tbody>
                <tr>
                    <th>발행일</th>
                    <td><span th:text="*{BookDate}"></span></td>
                </tr>
                <tr>
                    <th>ISBN13</th>
                    <td><span th:text="*{BookIsbn13}"></span></td>
                </tr>
                <tr>
                    <th>ISBN11</th>
                    <td><span th:text="*{BookIsbn10}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div>
            <h1>내용</h1>
            <p><span th:text="*{bookContents}"></span></p>
            <hr>
        </div>
    </main>

    <a class="scroll-top d-flex align-items-center justify-content-center" href="#"><i class="bi bi-arrow-up-short"></i></a>

    <script>

    </script>
    </body>

</div>


</html>