<!DOCTYPE html>

<html lang="en"
      layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</th:block>


<div layout:fragment="content">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <main id="main">
        <div class="container py-3">
            <div class="row g-5">
                <!-- ======= Category List ======= -->
                <section class="col-md-3 col-lg-2 bg-body-tertiary" id="category-list">
                    <h5>카테고리</h5>
                    <ul class="list-group">
                        <li class="list-group-item py-1"
                            th:each="category, status: ${categoryChildrenListAndRoute.childrenCategoryList}"
                            th:object="${category}"><small><a th:href="@{'/categories/{id}/books'(id=*{id})}"
                                                              th:text="*{categoryName}"></a></small></li>
                    </ul>
                </section>  <!-- End Category List -->

                <!-- ======= Search Results ======= -->
                <section class="book-sales-list col-md-7 col-lg-8 py-0" id="book-sales-list">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                            <li class="breadcrumb-item"
                                th:classappend="${status.last} ? 'active'"
                                th:each="category, status: ${categoryChildrenListAndRoute.getNowCategoryRoute()}"
                                th:object="${category}">
                                <a th:href="@{'/categories/{id}/books'(id=*{id})}" th:text="*{categoryName}">Home</a>
                            </li>
                        </ol>
                    </nav>

                    <div class="d-flex justify-content-between align-items-center border p-3 mb-3">
                        <div class="sort-bar">
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=default">기본순</a>
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=sales"
                               onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">판매량순</a>
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=new"
                               onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">신상품순</a>
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=date"
                               onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">등록일순</a>
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=lowPrice"
                               onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">최저가순</a>
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=highPrice"
                               onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">최고가순</a>
                            <a class="btn btn-outline-secondary btn-sm me-2" href="?sort=name"
                               onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">상품명순</a>
                        </div>

                        <div class="page-size-selector">
                            <select class="form-select form-select-sm"
                                    onchange="window.location.href='?size=' + this.value">
                                <option value="0">조회 개수 선택</option>
                                <option value="10">10개씩 보기</option>
                                <option value="20">20개씩 보기</option>
                                <option value="50">50개씩 보기</option>
                            </select>
                        </div>
                    </div>

                    <!--pagination-->
                    <div class="d-flex gap-2 justify-content-center">
                        <nav aria-label="Page navigation example"
                             th:with="link = ${#request.getRequestURI()}, items = ${booksDTOPage},
                             pageRange = 10,startPage=${(items.number / pageRange) * pageRange},
                             endPage=(${
                                startPage + pageRange <= items.totalPages ?
                                startPage + pageRange - 1 : items.totalPages - 1
                             })
                        ">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${startPage <= 1} ? 'disabled'">
                                    <a aria-label="Previous" class="page-link"
                                       th:href="@{${link}(page=${startPage - 1},
                                        size=${#request.getParameter('size')})}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <li class="page-item" th:classappend="${pageNumber eq items.number} ? 'active'"
                                    th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                                    <a class="page-link"
                                       th:href="@{${link}(page=${pageNumber}, size=${#request.getParameter('size')})}"
                                       th:text="${pageNumber+1}">
                                    </a>
                                </li>

                                <li class="page-item" th:classappend="${endPage >= items.totalPages - 1} ? 'disabled'">
                                    <a aria-label="Next" class="page-link"
                                       th:href="@{${link}(page=${endPage + 1}, size=${#request.getParameter('size')})}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!--book list-->
                    <div th:each="bookDto, status : ${booksDTOPage.content}">
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-md-3">
                                <img alt="Book Thumbnail" class="img-thumbnail"
                                     style="width: 200px; height: 260px;" th:src="${bookDto.BookThumbnailUrl}">
                            </div>
                            <div class="col-md-7">
                                <h5>
                                    <a th:href="@{/books/{bookId}(bookId= ${bookDto.bookId})}"
                                       th:text="${bookDto.BookTitle}"> </a>
                                </h5>
                                <small>
                                    <th:block th:each="authorDTO : ${bookDto.authorsDTOList}">
                                        <span th:text="${authorDTO.AuthorName}"></span>
                                        <span th:if="${#strings.equals(authorDTO.AuthorType,'AUTHOR')}"
                                              th:text="|(지은이)|"></span>
                                        <span th:if="${#strings.equals(authorDTO.AuthorType,'PAINTER')}"
                                              th:text="|(그림)|"></span>
                                        <span th:if="${#strings.equals(authorDTO.AuthorType,'TRANSLATOR')}"
                                              th:text="|(옮긴이)|"></span>
                                        <span th:if="${#strings.equals(authorDTO.AuthorType,'SUPERVISION')}"
                                              th:text="|(감수)|"></span>
                                        <span th:if="${#strings.equals(authorDTO.AuthorType,'ETC')}"
                                              th:text="|(기타)|"></span>
                                    </th:block>
                                    |
                                    <th:block th:text="${bookDto.BookPublisher}"></th:block>
                                    |
                                    <th:block
                                            th:text="${#temporals.format(bookDto.BookDate, 'yyyy년-MM월-dd일')}"></th:block>
                                </small>
                                <p><s th:text="|${bookDto.BookPrice}원|"></s> → <span
                                        style="font-weight: bold; color: red;"
                                        th:text="|${bookDto.BookSalePrice}원|"></span>
                                </p>
                                <p>리뷰 수: <span class="reviewCount" th:text="${bookDto.BookCntOfReview}"></span></p>
                                <!-- 좋아요 버튼 -->
                                <button onclick="toggleLike()" style="border: none; background: none" th:id="likeButton"
                                        type="button">
                                    <img alt="like" th:if="${isLiked}==true"
                                         th:src="@{/static/assets/img/like/store99-like.svg}"/>
                                    <img alt="unLike" th:else="${isLiked}==false"
                                         th:src="@{/static/assets/img/like/store99-unLike.svg}"/>
                                    <div id="likeCnt" th:text="${cnt}"></div>
                                </button>
                            </div>
                            <div class="col-md-2 d-flex flex-column">
                                <button class="btn btn-primary mb-2 add-to-cart-button"
                                        data-bs-target="#add-to-cart-button-modal"
                                        data-bs-toggle="modal" th:data-book-id="${bookDto.bookId}">카트에 넣기
                                </button>
                                <button class="btn btn-success mb-2" onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')">바로구매
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--pagination-->
                    <div class="d-flex gap-2 justify-content-center">
                        <nav aria-label="Page navigation example"
                             th:with="link = ${#request.getRequestURI()}, items = ${booksDTOPage},
                             pageRange = 10,startPage=${(items.number / pageRange) * pageRange},
                             endPage=(${
                                startPage + pageRange <= items.totalPages ?
                                startPage + pageRange - 1 : items.totalPages - 1
                             })
                        ">
                            <ul class="pagination">
                                <li class="page-item" th:classappend="${startPage <= 1} ? 'disabled'">
                                    <a aria-label="Previous" class="page-link"
                                       th:href="@{${link}(page=${startPage - 1},
                                        size=${#request.getParameter('size')})}">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${pageNumber eq items.number} ? 'active'"
                                    th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                                    <a class="page-link"
                                       th:href="@{${link}(page=${pageNumber}, size=${#request.getParameter('size')})}"
                                       th:text="${pageNumber + 1}">
                                    </a>
                                </li>
                                <li class="page-item" th:classappend="${endPage >= items.totalPages - 1} ? 'disabled'">
                                    <a aria-label="Next" class="page-link"
                                       th:href="@{${link}(page=${endPage + 1}, size=${#request.getParameter('size')})}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section> <!-- End Search Result -->
            </div>
        </div>

        <script src="/static/assets/js/book_sales_list.js"></script>
        <script th:inline="javascript">
            var isLiked = /*[[${isLiked}]];*/false;


            function toggleLike() {

                var bookId = [[${bookId}]];
                var userId = [[${userId}]];
                console.log("bookId: " + bookId);
                console.log("userId: " + userId);

                var apiUrl;
                // if (window.location.hostname === 'localhost' && window.location.port === '8760') {
                // IntelliJ 환경 설정에 따라 dev 환경인 경우
                apiUrl = 'http://localhost:8760';
                // } else {
                //     // IntelliJ 환경 설정에 따라 prod 환경인 경우
                //     apiUrl = 'http://192.168.0.93:8080';
                // }
                var proxyUrl = 'https://cors-anywhere.herokuapp.com/';

                $.ajax({
                    type: 'GET',
                    url: proxyUrl + apiUrl + "/open/bookstore/v1/likes/count",
                    headers: {
                        'Content-Type': 'application/json',

                    },
                    data: {
                        bookId: bookId
                    },
                    success: function (response) {
                        location.reload()
                        console.log("cnt:" + "${cnt}");
                        console.log('getLikeCnt success!');
                    },
                    error: function (err) {
                        console.error('Failed to get LikeCnt', err);
                    }
                });

                var imgElement = document.querySelector('#likeButton img');
                if (isLiked) {
                    imgElement.src = '/static/assets/img/like/store99-like.svg'; // 좋아요 이미지로 변경
                    imgElement.alt = 'Like';

                    $.ajax({
                        type: 'POST',
                        url: proxyUrl + apiUrl + "/likes",
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        data: {
                            bookId: bookId,
                            userId: userId
                        },
                        success: function (response) {
                            location.reload()
                            console.log('Like status updated successfully');
                        },
                        error: function (err) {
                            console.error('Failed to update like status', err);
                        }
                    });
                } else {
                    imgElement.src = '/static/assets/img/like/store99-unLike.svg'; // 좋아요 취소 이미지로 변경
                    imgElement.alt = 'unLike';
                    var likeId = [[${likeId}]];
                    console.log("likeId" + likeId);

                    $.ajax({
                        type: 'DELETE',
                        url: proxyUrl + apiUrl + '/likes/' + likeId,
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        data: {
                            likeId: likeId
                        },
                        success: function (response) {
                            location.reload()
                            console.log('Like status updated successfully');
                        },
                        error: function (err) {
                            console.error('Failed to update like status', err);
                        }
                    });

                }
            }
        </script>
        
    </main><!-- End #main -->

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="add-to-cart-button-modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    장바구니에 추가되었습니다.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">닫기</button>
                    <a href="/cart">
                        <button class="btn btn-primary" type="button">장바구니로 이동</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/static/assets/js/book_sales_list.js" th:inline="javascript"></script>
</th:block>