<!DOCTYPE html>
<html
        lang="en"
        layout:decorate="~{layouts/layout}"
        xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</th:block>

<head>
    <title>Store99st</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="/static/assets/css/variables.css" rel="stylesheet">
    <link href="/static/assets/css/main.css" rel="stylesheet">
</head>

<div layout:fragment="content">


    <main id="main" th:object="${bookData}">

        <div class="container-xxl py-3">
            <div class="row g-5">
                <div class=""></div>
                <div class="row align-items-start">
                    <div class="col-lg-5 align-items-center ">
                        <image class="img-fluid" th:src="*{BookImageURL}"></image>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <h3><span th:text="*{bookTitle}"></span></h3>
                        </div>
                        <div class="row">
                            <small>
                                <th:block th:each="authorDTO : ${bookData.authorsDTOList}">
                                    <span th:text="${authorDTO.AuthorName}"></span>
                                    <span th:if="${#strings.equals(authorDTO.AuthorType,'AUTHOR')}"
                                          th:text="|(지은이)|"></span>
                                    <span th:if="${#strings.equals(authorDTO.AuthorType,'PAINTER')}"
                                          th:text="|(그림)|"></span>
                                    <span th:if="${#strings.equals(authorDTO.AuthorType,'TRANSLATOR')}"
                                          th:text="|(옮긴이)|"></span>
                                    <span th:if="${#strings.equals(authorDTO.AuthorType,'SUPERVISION')}"
                                          th:text="|(감수)|"></span>
                                    <span th:if="${#strings.equals(authorDTO.AuthorType,'ETC')}"
                                          th:text="|(기타)|"></span>
                                </th:block>
                                |
                                <th:block th:text="${bookData.BookPublisher}"></th:block>
                                |
                                <th:block th:text="${#temporals.format(bookData.BookDate, 'yyyy년-MM월-dd일')}"></th:block>
                            </small>
                        </div>
                        <div class="row">
                            <small><br><span th:text="|회원리뷰(*{bookCntOfReview})건 |"></span></small>
                            <span th:text="|★*{bookAvgOfRate}|"></span>
                        </div>
                        <hr class="my-4">
                        <div class="row ">
                            <div class="col-md-10">
                                <div class="row my-4">
                                    <small class="col-md-4">정가</small>
                                    <small class="col-md-8" th:text="*{bookPrice}"></small>

                                </div>
                                <div class="row my-4">
                                    <span class="col-md-4 fw-bold">판매가</span>
                                    <div class="col-md-8 color-red ">
                                        <span class="fw-bold" th:text="*{bookSalePrice}"></span>
                                        <small th:if="*{bookPrice > bookSalePrice}"
                                               th:text="|(정가 대비 ${per}% 할인)|"
                                               th:with="per=((*{bookPrice} - *{bookSalePrice})/*{bookPrice})*100"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row d-flex flex-column">
                                    <form action="/carts" method="post">
                                        <input disabled hidden="hidden" name="bookId" th:value="*{bookId}"
                                               type="number">
                                        <div class="color-red align-content-center btn fw-bold disabled mb-2"
                                             th:if="*{bookStock <= 0}">
                                            품절
                                        </div>
                                        <button class="btn btn-primary mb-2"
                                                onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')"
                                                th:if="*{bookStock >= 1}"
                                                type="submit">카트에 넣기
                                        </button>
                                        <button class="btn btn-success mb-2"
                                                onclick="alert('죄송합니다! 아직 지원되지 않는 기능입니다.')"
                                                th:if="*{bookStock >= 1}"
                                                type="submit">바로구매
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div>
                                <button class="btn btn-outline-primary"
                                        th:each="TagDTO : ${bookData.tagDTOList}">
                                    <span th:text="${TagDTO.tagName}"></span></button>
                        </div>
                    </div>
                </div>
                <hr class="my-4">
                <div>
                    <h2>품목정보</h2>
                    <table class="border-gray my-4 col-md-8" id="ProductData">
                        <tbody class="align-content-center">
                        <tr>
                            <th class="bg-body-tertiary text-center">발행일</th>
                            <td class="text-left"><span
                                    th:text="*{#temporals.format(BookDate, 'yyyy년 MM월 dd일')}"></span></td>
                        </tr>
                        <tr>
                            <th class="bg-body-tertiary text-center">ISBN13</th>
                            <td><span th:text="*{BookIsbn13}"></span></td>
                        </tr>
                        <tr>
                            <th class="bg-body-tertiary text-center">ISBN10</th>
                            <td><span th:text="*{BookIsbn10}"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="my-4">
                <div>
                    <h1>설명</h1>
                    <span th:text="*{bookDescription}"></span>
                </div>
                <hr class="my-4">
                <div>
                    <h1>목차</h1>

                    <pre class="fw-medium" id="BookContents" th:text="*{bookContents}"></pre>
                    <input class="card-content__more-btn" type="checkbox">

                </div>
            </div>
        </div>
    </main>

    <a class="scroll-top d-flex align-items-center justify-content-center" href="#"><i
            class="bi bi-arrow-up-short"></i></a>
    <link href="/static/assets/css/book_sale_page.css" rel="stylesheet">

</div>

</html>