<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="FooterFragment">
    <!-- ======= Footer ======= -->

    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">

                <div class="row g-5">
                    <div class="col-lg-4">
                        <h3 class="footer-heading">About Store99st</h3>
                        <p>Store99st Official</p>
                        <p><a href="https://github.com/nhnacademy-be5-staff99" class="footer-link-more">GitHub Store99st
                            project</a></p>
                        <p><a href="https://github.com/nhnacademy-be5-staff99" class="footer-link-more">ERD CLOUD</a>
                        </p>
                        <p><a href="https://github.com/nhnacademy-be5-staff99" class="footer-link-more">API Docs</a></p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Navigation</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="../index.html"><i class="bi bi-chevron-right"></i> 회원정보</a></li>
                            <li><a href="../index.html"><i class="bi bi-chevron-right"></i> 회원등급</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 장바구니</a></li>
                            <li><a href="../single-post.html"><i class="bi bi-chevron-right"></i> 찜목록</a></li>
                            <li><a href="../about.html"><i class="bi bi-chevron-right"></i> 신간</a></li>
                            <li><a href="../contact.html"><i class="bi bi-chevron-right"></i> 베스트셀러</a></li>
                        </ul>

                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Categories</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="../category.h../tml"><i class="bi bi-chevron-right"></i> 경제경영</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 자기계발</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 건강/취미</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 소설</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 대학교재</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 인문</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 시/에세이</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 기술/공학</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Store99st INFO</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> 공지사항</a></li>
                            <li><a href="../category.html"><i class="bi bi-chevron-right"></i> FAQ</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>


    </footer>

</th:block>
</html>