<!DOCTYPE html>
<html
        lang="ko"
        layout:decorate="~{layouts/layout}"
        xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
>

<section layout:fragment="content">

    <main id="main">

        <!-- ======= Hero Slider Section ======= -->
        <section class="hero-slider" id="hero-slider">
            <div class="container-md" data-aos="fade-in">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper sliderFeaturedPosts">

                            <!--가능하다면 도서 상세 이미지를,,?-->
                            <!--베스트 - 과학 - 컴퓨터 - 경제. 최신도서 3개씩 굿-->
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:object="${bestBooks[0]}">
                                    <a class="img-bg d-flex align-items-end"
                                       th:href="@{/books/{bookId}(bookId=*{bookId})}"
                                       th:style="'background-image:url('+*{BookDetailURL}+');'"
                                    >
                                        <div class="img-bg-inner">
                                            <h2>Latest Science Book</h2>
                                            <p>최신 과학 도서</p>
                                            <p th:text="*{bookTitle}"></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide" th:object="${science[0]}">
                                    <a class="img-bg d-flex align-items-end"
                                       th:href="@{/books/{bookId}(bookId=*{bookId})}"
                                       th:style="'background-image:url('+*{BookDetailURL}+');'"
                                    >
                                        <div class="img-bg-inner">
                                            <h2>Latest Science Book</h2>
                                            <p>최신 과학 도서</p>
                                            <p th:text="*{bookTitle}"></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide" th:object="${computer[0]}">
                                    <a class="img-bg d-flex align-items-end"
                                       th:href="@{/books/{bookId}(bookId=*{bookId})}"
                                       th:style="'background-image:url('+*{BookDetailURL}+');'"
                                    >
                                        <div class="img-bg-inner">
                                            <h2>Latest Computer Book</h2>
                                            <p>최신 컴퓨터 도서</p>
                                            <p th:text="*{bookTitle}"></p>
                                        </div>
                                    </a>
                                </div>

                                <div class="swiper-slide" th:object="${economy[0]}">
                                    <a class="img-bg d-flex align-items-end"
                                       th:href="@{/books/{bookId}(bookId=*{bookId})}"
                                       th:style="'background-image:url('+*{BookDetailURL}+');'"
                                    >
                                        <div class="img-bg-inner">
                                            <h2>Latest Economy Book</h2>
                                            <p>최신 경제/금융 도서</p>
                                            <p th:text="*{bookTitle}"></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="custom-swiper-button-next">
                                <span class="bi-chevron-right"></span>
                            </div>
                            <div class="custom-swiper-button-prev">
                                <span class="bi-chevron-left"></span>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hero Slider Section -->

        <!-- ======= Post Grid Section ======= -->
        <section class="posts" id="posts">
            <div class="container" data-aos="fade-up">
                <div class="row g-5">
                    <div class="col-lg-4">
                        <div class="post-entry-1 lg">
                            <a th:href="@{/books/{bookId}(bookId=${bestBooks[0].getBookId()})}">
                                <img th:src="${bestBooks[0].getBookThumbnailUrl()}">
                            </a>
                            <h2><a th:href="@{/books/{bookId}(bookId=${bestBooks[0].getBookId()})}"
                                   th:text="|Store99 모든분야 최고 베스트 셀러|"></a></h2>
                            <p class="mb-4 d-block" th:text="${bestBooks[0].getBookDescription()}"></p>

                        </div>

                    </div>

                    <div class="col-lg-8">
                        <div class="row g-5">
                            <div class="col-lg-4 border-start custom-border">
                                <div class="post-entry-1">
                                    <a th:href="@{/books/{bookId}(bookId=${bestBooks[1].getBookId()})}">
                                        <img alt="" class="img-fluid"
                                             th:src="${bestBooks[1].getBookThumbnailUrl()}"
                                        ></a>
                                    <div class="post-meta">
                                        <span th:text="${#temporals.format(bestBooks[1].BookDate, 'yyyy MM dd')}"></span>
                                    </div>
                                    <h2><a th:href="@{/books/{bookId}(bookId=${bestBooks[1].getBookId()})}"
                                           th:text="${bestBooks[1].getBookTitle()}"></a></h2>
                                </div>
                                <div class="post-entry-1">
                                    <a th:href="@{/books/{bookId}(bookId=${bestBooks[2].getBookId()})}">
                                        <img alt="" class="img-fluid"
                                             th:src="${bestBooks[2].getBookThumbnailUrl()}"
                                        ></a>
                                    <div class="post-meta">
                                        <span th:text="${#temporals.format(bestBooks[2].BookDate, 'yyyy MM dd')}"></span>
                                    </div>
                                    <h2><a th:href="@{/books/{bookId}(bookId=${bestBooks[2].getBookId()})}"
                                           th:text="${bestBooks[2].getBookTitle()}"></a></h2>
                                </div>
                                <div class="post-entry-1">
                                    <a th:href="@{/books/{bookId}(bookId=${bestBooks[3].getBookId()})}">
                                        <img alt="" class="img-fluid"
                                             th:src="${bestBooks[3].getBookThumbnailUrl()}"
                                        ></a>
                                    <div class="post-meta">
                                        <span th:text="${#temporals.format(bestBooks[3].BookDate, 'yyyy MM dd')}"></span>
                                    </div>
                                    <h2><a th:href="@{/books/{bookId}(bookId=${bestBooks[3].getBookId()})}"
                                           th:text="${bestBooks[3].getBookTitle()}"></a></h2>
                                </div>
                            </div>
                            <div class="col-lg-4 border-start custom-border">
                                <div class="post-entry-1">
                                    <a th:href="@{/books/{bookId}(bookId=${latestBooks[1].getBookId()})}">
                                        <img alt="" class="img-fluid"
                                             th:src="${latestBooks[1].getBookThumbnailUrl()}"
                                        ></a>
                                    <div class="post-meta">
                                        <span th:text="${#temporals.format(latestBooks[1].BookDate, 'yyyy MM dd')}"></span>
                                    </div>
                                    <h2><a th:href="@{/books/{bookId}(bookId=${latestBooks[1].getBookId()})}"
                                           th:text="${latestBooks[1].getBookTitle()}"></a></h2>
                                </div>
                                <div class="post-entry-1">
                                    <a th:href="@{/books/{bookId}(bookId=${latestBooks[2].getBookId()})}">
                                        <img alt="" class="img-fluid"
                                             th:src="${latestBooks[2].getBookThumbnailUrl()}"
                                        ></a>
                                    <div class="post-meta">
                                        <span th:text="${#temporals.format(latestBooks[2].BookDate, 'yyyy MM dd')}"></span>
                                    </div>
                                    <h2><a th:href="@{/books/{bookId}(bookId=${latestBooks[2].getBookId()})}"
                                           th:text="${latestBooks[2].getBookTitle()}"></a></h2>
                                </div>
                                <div class="post-entry-1">
                                    <a th:href="@{/books/{bookId}(bookId=${latestBooks[3].getBookId()})}">
                                        <img alt="" class="img-fluid"
                                             th:src="${latestBooks[3].getBookThumbnailUrl()}"
                                        ></a>
                                    <div class="post-meta">
                                        <span th:text="${#temporals.format(latestBooks[3].BookDate, 'yyyy MM dd')}"></span>
                                    </div>
                                    <h2><a th:href="@{/books/{bookId}(bookId=${latestBooks[3].getBookId()})}"
                                           th:text="${latestBooks[3].getBookTitle()}"></a></h2>
                                </div>
                            </div>

                            <!-- Trending Section -->
                            <div class="col-lg-4">

                                <div class="trending">
                                    <h3>bestsellers TOP5</h3>
                                    <ul class="trending-post" th:each="bestBook, stat : ${bestBooks}">
                                        <li th:if="${stat.index}<6">
                                            <a th:href="@{/books/{bookId}(bookId=${bestBook.getBookId()})}">
                                                <span class="number" th:text="${stat.count}"></span>
                                                <h3 th:text="${bestBook.getBookTitle()}"></h3>
                                                <span class="author"
                                                      th:text="${#temporals.format(bestBooks[2].BookDate, 'yyyy MM dd')}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!-- End Trending Section -->
                        </div>
                    </div>

                </div>
                <!-- End .row -->
            </div>
        </section>
        <!-- End Post Grid Section -->

        <!--
            여기 밑에는 과학, 컴퓨터, 경영 3가지로 책을 소개하면 될거같음
            그리고 위에는 각 대표하는 도서들 하나씩?
            이 히어로 슬라이더에 최신-과학-컴퓨터-경영 제일 잘나가는거로 하면 될듯.
            바로밑에 post grid에 전체 최신 도서 몇개와
            제일 잘나가는거 몇개.
        -->
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Science</h2>
                    <div><a class="more" th:href="@{categories/2/books}">See All Science</a></div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="d-lg-flex ">
                            <a class="me-4 col-lg-4 thumbnail mb-4 mb-lg-0 d-inline-block"
                               th:href="@{books/{bookId}(bookId=${science[0].getBookId()})}">
                                <img alt="" class="img-fluid" th:src="${science[0].getBookThumbnailUrl()}">
                            </a>
                            <a class="me-4 col-lg-4 thumbnail mb-4 mb-lg-0 d-inline-block"
                               th:href="@{books/{bookId}(bookId=${science[1].getBookId()})}">
                                <img alt="" class="img-fluid" th:src="${science[1].getBookThumbnailUrl()}">
                            </a>
                            <a class="me-4 col-lg-4 thumbnail mb-4 mb-lg-0 d-inline-block"
                               th:href="@{books/{bookId}(bookId=${science[2].getBookId()})}">
                                <img alt="" class="img-fluid" th:src="${science[2].getBookThumbnailUrl()}">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="post-entry-1 border-bottom" th:each="scienceBook : ${science}">
                            <div class="post-meta"><span class="date">Science</span> <span class="mx-1">&bullet;</span>
                                <span th:text="${#temporals.format(scienceBook.getBookDate(), 'yyyy-MM-dd')}"></span>
                            </div>
                            <h2 class="mb-2"><a th:href="@{/books/{bookId}(bookId=${scienceBook.getBookId()})}"
                                                th:text="${scienceBook.getBookTitle()}"></a></h2>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="category-section">
            <div class="container" data-aos="fade-up">

                <div class="section-header d-flex justify-content-between align-items-center mb-5">
                    <h2>Computer</h2>
                    <div><a class="more" href="category.html">See All Computer</a></div>
                </div>

                <div class="row">
                    <div class="col-md-9 order-md-2">

                        <div class=" d-lg-flex ">
                            <a class="col-lg-3 thumbnail mb-lg-0 d-inline-block"
                               th:href="@{/books/{bookId}(bookId=${computer[0].getBookId()})}">
                                <img alt="" class=" img-fluid" th:src="${computer[0].getBookThumbnailUrl()}">
                            </a>
                            <div class="col-lg-9">
                                <div class="post-meta "><span class="date">Computer</span> <span
                                        class="mx-1">&bullet;</span> <span
                                        th:text="${#temporals.format(computer[0].getBookDate(), 'yyyy-MM-dd')}"></span>
                                </div>
                                <h3><a th:href="@{/books/{bookId}(bookId=${computer[0].getBookId()})}"
                                       th:text="${computer[0].getBookTitle()}"></a></h3>
                                <p th:text="${computer[0].getBookDescription()}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="post-entry-1 border-bottom">
                                    <a href="single-post.html"><img alt="" class="img-fluid"
                                                                    src="/static/assets/img/post-landscape-5.jpg"></a>
                                    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span>
                                        <span>Jul 5th '22</span></div>
                                    <h2 class="mb-2"><a href="single-post.html">11 Work From Home Part-Time Jobs You Can
                                        Do Now</a></h2>
                                    <span class="author mb-3 d-block">Jenny Wilson</span>
                                    <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="post-entry-1">
                                    <a href="single-post.html"><img alt="" class="img-fluid"
                                                                    src="/static/assets/img/post-landscape-7.jpg"></a>
                                    <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span>
                                        <span>Jul 5th '22</span></div>
                                    <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay
                                        Focused During Video Calls?</a></h2>
                                    <span class="author mb-3 d-block">Jenny Wilson</span>
                                    <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                        Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="post-entry-1 border-bottom" th:each="computerBook : ${computer}">
                            <div class="post-meta"><span class="date">Computer</span> <span class="mx-1">&bullet;</span>
                                <span th:text="${#temporals.format(computerBook.getBookDate(), 'yyyy-MM-dd')}"></span>
                            </div>
                            <h2 class="mb-2"><a th:href="@{/books/{bookId}(bookId=${computerBook.getBookId()})}"
                                                th:text="${computerBook.getBookTitle()}"></a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->

</section>


</html>