<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content"><!-- ==== fragment:content === -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/static/assets/js/sign-up.js"></script>

    <main id="main">
        <section class="contact mb-5" id="contact">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h1 class="page-title">Sign Up</h1>
                    </div>
                </div>

                <div class="container-scroller">
                    <div class="container-fluid page-body-wrapper full-page-wrapper">
                        <div class="content-wrapper d-flex align-items-center auth px-0">
                            <div class="row w-100 mx-0">
                                <div class="col-lg-6 mx-auto">
                                    <div class="auth-form-light text-left py-5 px-4 px-sm-5 login-form">

                                        <!-- === login form === -->
                                        <form class="pt-3" method="post"  th:action="@{/sign-up}" id = "signUp">
                                            <div class="form-group">
                                                <label for="id">ID</label>
                                                <div class="input-group mb-3">
                                                    <input autofocus class="form-control form-control-lg" id="id" name="email"
                                                           placeholder="이메일" required type="email">
                                                    <div class="input-group-append" style="margin-left : 15px">
                                                        <button class="btn btn-primary" id="sendConfirmationCode"
                                                                type="button">인증번호 발송
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="emailConfirmationCode">이메일 인증번호</label>
                                                <div class="input-group mb-3">
                                                    <input class="form-control" id="emailConfirmationCode"
                                                           placeholder="인증번호 입력"
                                                           required type="text">
                                                    <div class="input-group-append" style="margin-left : 15px">
                                                        <button class="btn btn-primary" id="checkEmail" type="button">인증하기
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <div class="input-group mb-3">
                                                    <input class="form-control form-control-lg" id="password"
                                                           name="password" required type="password" disabled = "true">
                                                    <div class="input-group-append" style="margin-left : 15px">
                                                        <button class="btn btn-primary" id="validateCheck" type="button" disabled = "true">
                                                            비밀번호 확인
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="password">사용자명</label><input
                                                    class="form-control form-control-lg"
                                                    id="username"
                                                    name="name" required disabled = "true">
                                            </div>

                                            <div class="form-group">
                                                <label for="address_general">주소</label>
                                                <input class="form-control form-control-lg" id="address_general" name="address_general" required disabled = "true">
                                                <label for="address_detail">상세주소</label>
                                                <input class="form-control form-control-lg" id="address_detail" name="address_detail" required disabled = "true">
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="address_alias">별칭</label>
                                                        <input class="form-control form-control-lg" id="address_alias" name="address_alias" required disabled = "true">
                                                    </div>
                                                    <div class="col">
                                                        <label for="address_code">우편번호</label>
                                                        <input class="form-control form-control-lg" id="address_code" name="address_code" required disabled = "true">
                                                        <button class="btn btn-primary" id = "addressCodeSearch" type ="button" style = margin-top:10px disabled = "true">우편번호 찾기</button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="password">연락처 ('-' 는 제외하고 입력)</label><input
                                                    class="form-control form-control-lg"
                                                    id="phoneNumber"
                                                    name="phoneNumber" disabled = "true">
                                            </div>

                                            <div class="form-group">
                                                <label for="password">생년월일</label><input
                                                    class="form-control form-control-lg"
                                                    id="birthday"
                                                    name="userBirthDate"
                                                    type="date" disabled = "true">
                                            </div>


                                            <div class="mt-3 login-btn">
                                                <button class="btn btn-lg font-weight-medium btn-light"
                                                        id="signup-btn" type="submit" >회원가입
                                                </button>
                                            </div>
                                        </form> <!-- === sign-up form end ===-->
                                        <hr>

                                        <!-- === sign up link === -->
                                        <div class="text-center mt-4 font-weight-normal">
                                            Do you already have an account?</br><a class="text-dark" th:href="@{/login_form}"><u><strong>로그인
                                            페이지로 돌아가기</strong></u></a>
                                        </div> <!-- === sign up link end === -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main><!-- End #main -->

</div><!-- ==== End fragment:content === -->
</html>